.authorBio p {
  text-align: left;
  margin: 5px 0 auto 5px;
  font-size: small;
}

p.authorlink {
  text-align: center;
  margin: 0;
}

img.avatar {
  display: block;
  margin: 15px auto;
  border: 1px solid crimson;
  border-radius: 50%;
  height: 64px;
  width: 64px;
}

.infoBox {
  color: #444;
  width: 90%;
  margin: auto;
  background-color: #d3d3d3;
  padding: 5px;
}

.authorBio h3 {
  margin: 5px;
  font-size: medium;
}

.breakdown {
  color: black;
  width: 90%;
  background-color: lightgrey;
  margin: 0px auto 10px auto;
}

.breakdown p {
  text-align: center;
  margin: auto;
  font-size: small;
  display: block;
  color: #888;
}

@media only screen and (min-width: 901px) {
  .blogImg_auth {
    display: inline-grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 550px;
    grid-template-areas: "post post post post post auth auth auth";
    width: 90%;
    margin-left: -10px;
  }

  .postInfo {
    grid-area: post;
    margin: auto 0 auto 50px;
  }

  .infoBox {
    margin: 10px auto 5px auto;
    background-color: #d4d4d4;
  }

  .back {
    margin: 40px 0 0 10px;
  }
  
  .author {
    margin: auto 45px;
    max-height: 400px;
    border: none;
    padding: 8px;
    box-shadow: 0 4px 8px 0 #444;
    background-color: #f2f2f2;
    grid-area: auth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  img.avatar {
    margin-top: 0;
  }
}
