* {
  box-sizing: border-box;
}

body {
  background: #eff1f5;
  color: #464e5b;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #18aad6;
  text-decoration: none;
}

/* Mobile */
.container-blog {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "hd-b"
    "auth"
    "main"
    "ft";
}

h1 {
  text-align: center;
  margin: auto;
  grid-area: hd-b;
}

.backButton button {
  border-style: none;
  padding: 0px;
  box-shadow: 0 4px 8px 0 #444;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.previous {
  background-color: #18aad6;
  color: black;
}

.round {
  border-radius: 50%;
}

.back {
  display: flex;
  flex-direction: row;
  margin: 10px 0 0 auto;
}

.back a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.back a:hover {
  background-color: #d4d4d4;
  color: black;
}

section .blog {
  margin-top: 20px;
}

section h2 {
  text-align: center;
  font-size: x-large;
  margin: 20px auto 15px auto;
}

.exImgCap {
  font-size: small;
  text-align: center;
  margin-bottom: 0;
}

.box {
  max-width: 500px;
  margin: 0 auto;
  display: block;
}

.leadIn p {
  font-weight: lighter;
  font-size: small;
  color: #888;
  text-align: left;
  margin-bottom: 0;
}

.postInfo img {
  margin: 0 auto;
  display: block;
  max-width: 500px;
  width: 100%;
  background: #444;
  border: 1px solid crimson;
}

.datePublished {
  text-align: center;
  color: #778899;
  font-weight: lighter;
}

article {
  margin: auto;
  width: 90%;
}

.textToIndent {
  text-indent: 50px;
}

/* Medium screens */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .container-blog {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
      "hd-b hd-b hd-b hd-b hd-b hd-b hd-b hd-b"
      "auth auth auth auth auth auth auth auth"
      "main main main main main main main main"
      "ft ft ft ft ft ft ft ft";
    padding: 0;
    margin: auto;
  }

  .blogTop {
    grid-area: hd-b;
  }

  .blogtop h1 {
    text-align: center;
  }

  .blog {
    grid-area: main;
  }

  .box {
    max-width: 500px;
    margin: auto;
  }

  .back{
    display: flex;
    flex-direction: row;
    margin: 20px 0 0 20px;
  }

  .leadIn p {
    font-weight: lighter;
    font-size: medium;
    color: #888;
    text-align: left;
    margin-bottom: 0;
  }
}

/* Large screens - Blog */
@media only screen and (min-width: 901) {
  .container-blog {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
      "hd-b hd-b hd-b hd-b hd-b hd-b hd-b hd-b"
      "main main main main main main main main"
      "ft ft ft ft ft ft ft ft";
      margin: auto;
  }

  .box {
    max-width: 500px;
    margin: auto;
  }

  .postInfo img {
    max-width: 500px;
    max-height: 400px;
    border: 1px solid crimson;
    margin: 0 auto;
  }
}
