@import url("blog.css");
@import url("cards.css");
@import url("author.css");
@import url("footer.css");

* {
  box-sizing: border-box;
}


body {
  background: #eff1f5;
  color: #464e5b;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Mobile */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "hd"
    "sd"
    "srch"
    "main"
    "ft";
}

header {
  grid-area: hd;
}

header h1 {
  display: block;
  margin: 25px auto auto auto;
  text-align: center;
  color: #5c4e4e;
}

.top {
  grid-area: sd;
  margin: 10px 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0;
  padding-left: 0;
}

nav a {
  font-size: medium;
  text-decoration: none;
  color: #18aad6;
  margin: auto;
}

.search {
  display: flex;
  grid-area: srch;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.search i {
  margin: 0;
}

a:hover {
  color: black;
  list-style-type: none;
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
      "hd hd hd hd hd srch srch srch"
      ". . sd sd sd sd . ."
      "main main main main main main main main"
      "ft ft ft ft ft ft ft ft";
    padding: 0;
    margin: auto;
  }

  header {
    grid-area: hd;
  }

  .home h1 {
    text-align: left;
  }

  .top {
    display: inline;
    grid-area: sd;
  }

  nav {
    margin-top: -10px;
    width: 100%;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-items: left;
  }

  nav a {
    justify-items: left;
    height: auto;
    font-size: larger;
    margin: 10px auto 10px 0;
  }

  .search {
    display: flex;
    float: right;
    margin-top: 27px;
    width: 90%;
    flex-direction: row;
    margin-right: 10px;
  }

  .search i {
    margin: 5px;
  }

  .search button {
    border: none;
    background-color: transparent;
  }
}

/* Large Screens */
@media only screen and (min-width: 901px) and (max-width: 1079) {
  .container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      "hd hd hd hd . . . srch"
      ". . sd sd sd sd . ."
      ". main main main main main main ."
      "ft ft ft ft ft ft ft ft";
    margin: auto;
  }
  header {
    grid-area: hd;
  }

  header h1 {
    color: #444;
    text-align: left;
    margin: auto;
  }

  nav {
    grid-area: sd;
  }
}